/* Add some spacing between articles */
.article-blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Add a subtle animation on hover */
.post-card {
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: scale(1.15);
}

/* Make the content font robotic */
.post-card .content .description {
  font-family: "roboto", sans-serif;
}